SECRET_KEY=your-very-secret-key-change-me
DEBUG=True

DB_ENGINE=postgres

POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=admin
POSTGRES_HOST=inventory_db
POSTGRES_PORT=5432


DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=change-me
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_FIRST_NAME=Admin
DJANGO_SUPERUSER_LAST_NAME=Admin
DJANGO_SUPERUSER_PHONE=0000000000
DJANGO_SUPERUSER_IDENTIFICATION_NUMBER=ADMIN0001
